nav {
    height: 70px;
    /* border-bottom: solid 2px lightgrey; */
    /* padding: 0 20px; */
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0;
    border-bottom: solid 2px lightgrey;
}

li {
    display: flex;
}

.profile-dropdown {
    display: block;
    position: absolute;
    right: 1em;
    top: 3.5em;
    background-color: #ffffff;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border: solid 2.5px black;
    border-radius: 2px;
    z-index: 1;
    padding: .5em 1em;
}
.profile-dropdown * {
    padding: .125em 0em;
}

.hidden {
    display: none;
}

#home-nav *{
    /* border: solid 1px red; */
    color: #f44336;
    display: flex;
    /* gap: 1em; */
    font-size: 1em;
    font-family: "Playwrite CU", cursive;
    font-weight: 1000;
    text-decoration: none;
}

#site-icon *{
    height: 100%;
    font-size: 2.125em;
}
/*
.playwrite-cu-<uniquifier> {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


#toggle-menu-button {
    height: max-content;
    padding: .25em;
    font-size: 1.25em;
    border-radius: 25px;
    border-width: 1px;
}

#toggle-menu-button:hover {
    box-shadow: 0px 1px 5px .75px lightgray;
}

#toggle-menu-button * {
    padding: .125em;

}
